.tile-container {
  display: inline-block;
  height: 60px;
  width: 30px;
  background-color: black;
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
  vertical-align: bottom;
  transform-origin: center center;
  transform: scaleX(2.1);
}
.row {
  text-align: center;
}

.tile {
  clip-path: polygon(10% 95%, 50% 15%, 90% 95%);
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: white;
  line-height: 60px;
  font-size: 30px;
  font-weight: bolder;
  user-select: none;
}
.mine {
  color: black;
}
.mines-1 {
  color: blue;
}
.mines-2 {
  color: green;
}
.mines-3 {
  color: red;
}
.mines-4 {
  color: purple;
}
.mines-5 {
  color: yellow;
}

.unseen {
  color: transparent;
  background-color: lightblue;
}
.tile-container:hover {
  background-color: yellow;
}

.unseen.flagged {
  background-color: blue;
}

.game-container {
  position: relative;
  display: inline-block;
}



.hidden {
  display: none;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.refresh-button {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  border: 2px solid black;
  cursor: default;
  user-select: none;
}
.refresh-button:hover {
  background-color: lightgrey;
}

.tile-container:nth-child(even) {
  transform-origin: center center;
  transform: rotate(180deg) scaleX(2.1);
}
.tile-container:nth-child(even) div div {
  transform: rotate(180deg);
}